* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    height: 2000px;
}

.heading-1 {
    font-size: 100px;
    margin-bottom: 0px;
    font-weight: 700;
    color: black;
}

.card-heading-one {
    /* padding-top: 160px; */
}

.card-heading-two {
    /* padding-top: 160px; */
}

.img {
    position: relative;
    height: 600px;
}
  
.img::before {
    content: "";
    background-image: url('roacheck.png');
    height: 100%; 
    background-size: cover;
    background-position: center 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: 
        brightness(35%)
        blur(0px)
        saturate(1)
    ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.img .content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.limit-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.limit-title:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.heading-2 {
    padding-top: 25px;
}

@media screen and (max-width: 1055px) {

    .text-about {
        font-size: 22px;
    }
}

@media screen and (max-width: 991px) {
    .heading-1 {
        font-size: 80px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .text-about {
        font-size: 22px;
    }

    .heading-2 {
        text-align: left;
        padding-top: 6px !important;
    }

    .btn-figma {
        text-align: left;
    }
}

@media screen and (max-width: 756px) {
    .heading-1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 556px) {
    .heading-1 {
        font-size: 50px;
        margin-bottom: 7px;
    }

    .img {
        position: relative;
        height: 400px;
    }
}

@media screen and (max-width: 410px) {
    .heading-1 {
        font-size: 40px;
    }
}