* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    height: 5000px;
}

.heading-1 {
    font-size: 100px;
    margin-bottom: 0px;
    font-weight: 700;
    color: black;
    
}

.card-heading-one {
    /* padding-top: 160px; */
}

.card-heading-two {
    /* padding-top: 160px; */
}

.main {
    margin-top: 60px;
}

.text-img {
    padding-top: 420px;
}

.text-img-mobile {
    display: none !important;
}

.text-shadow {
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 500;
    text-shadow: #ffffff34 0px 0px 10px;
    font-family: "Urbanist", sans-serif;
}

.img {
    position: relative;
    height: auto;
    padding: 50px 100px;
}
  
.img::before {
    content: "";
    background-image: url('roacheck.png');
    height: 100%; 
    background-size: cover;
    background-position: center 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: 
        brightness(25%)
        blur(0px)
        saturate(1)
    ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.img .content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.card-about {
    height: 200px;
}

.heading-about {
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: 700;
    color: black;
}

.img-cover-road {
    background-image: url('jalan2.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    filter: 
        brightness(50%)
        blur(0px)
        saturate(1)
        contrast(110%)
        grayscale(100%)
    ;
    transition: all 0.2s ease-in-out;

}

.img-cover-left {
    background-size: 90%;
    background-position: center;
    height: 400px;
    filter: 
        brightness(50%)
        blur(0px)
        saturate(1)
        contrast(110%)
        grayscale(100%)
    ;
    transition: all 0.2s ease-in-out;

}

.img-cover-right {
    background-size: 210%;
    background-position: center;
    height: 600px;
    filter: 
        brightness(50%)
        blur(0px)
        saturate(1)
        contrast(110%)
        grayscale(100%)
    ;
    transition: all 0.2s ease-in-out;

}

.img-cover-bottom {
    background-size: 140%;
    background-position: center;
    height: 400px;
    filter: 
        brightness(50%)
        blur(0px)
        saturate(1)
        contrast(110%)
        grayscale(100%)
    ;
    transition: all 0.2s ease-in-out;
}

.img-cover-left:hover {
    filter: 
        brightness(80%)
        blur(0px)
        saturate(1)
        contrast(100%)
    ;
    background-size: 95%;
}

.img-cover-right:hover {
    filter: 
        brightness(80%)
        blur(0px)
        saturate(1)
        contrast(100%)
    ;
    background-size: 220%;
}

.img-cover-bottom:hover {
    filter: 
        brightness(80%)
        blur(0px)
        saturate(1)
        contrast(100%)
    ;
    background-size: 150%;
}

.img-1 {
    background-image: url('pict1.png');
}

.img-2 {
    background-image: url('pict2.png');
}

.img-3 {
    background-image: url('pict3.png');
}

.img-4 {
    background-image: url('pict4.png');
}

.img-list {
    position: relative;
    height: auto;
}
  
.img-list::before {
    content: "";
    background-image: url('jalan3.jpg');
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: 
        brightness(45%)
        blur(0px)
        saturate(1)
    ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.img-list .content-list {
    position: relative;
    z-index: 2;
    text-align: center;
}


.limit-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.limit-title:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.heading-2 {
    padding-top: 25px;
}

.heading-palette {
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: 700;
    color: black;
}

.color-palette {
    margin-top: 60px;
}

/* .cover-palette {
    height: 140px;
    transform: rotate(0deg);
} */

.color-palette-1 {
    background-color: #000000;
    transition: all 0.2s ease-in-out;
}

.color-palette-2 {
    background-color: #f0f0f0;
    transition: all 0.2s ease-in-out;
}

.color-palette-3 {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.158);
    /* border-right: none; */
    transition: all 0.4s ease-in-out;
}

/* .color-palette-1:hover {
    
}
.color-palette-2:hover {
    
}
.color-palette-3:hover {
    
} */

.text-about {
    font-size: 25px;
}

@media screen and (max-width: 1850px) {
    .img-cover-right {
        background-size: 220% !important;
    }
    
    .img-cover-right:hover {
        background-size: 230% !important;
    }

    .img-cover-left {
        background-size: 110% !important;
    }
    
    .img-cover-left:hover {
        background-size: 120% !important;
    }
    
}

@media screen and (max-width: 1780px) {
    .img-cover-right {
        background-size: 230% !important;
    }
    
    .img-cover-right:hover {
        background-size: 240% !important;
    }
}

@media screen and (max-width: 1700px) {
    .img-cover-right {
        background-size: 240% !important;
    }
    
    .img-cover-right:hover {
        background-size: 250% !important;
    }
}

@media screen and (max-width: 1640px) {
    .img-cover-right {
        background-size: 250% !important;
    }
    
    .img-cover-right:hover {
        background-size: 260% !important;
    }

    .img-cover-left {
        background-size: 130% !important;
    }

    .img-cover-left:hover {
        background-size: 140% !important;
    }
}

@media screen and (max-width: 1580px) {
    .img-cover-right {
        background-size: 260% !important;
    }
    
    .img-cover-right:hover {
        background-size: 270% !important;
    }
}

@media screen and (max-width: 1520px) {
    .img-cover-right {
        background-size: 270% !important;
    }
    
    .img-cover-right:hover {
        background-size: 280% !important;
    }
}

@media screen and (max-width: 1470px) {
    .img-cover-right {
        background-size: 280% !important;
    }
    
    .img-cover-right:hover {
        background-size: 290% !important;
    }
}

@media screen and (max-width: 1420px) {
    .img-cover-right {
        background-size: 290% !important;
    }
    
    .img-cover-right:hover {
        background-size: 300% !important;
    }

    .img-cover-bottom {
        background-size: 180% !important;
    }
    
    .img-cover-bottom:hover {
        background-size: 190% !important;
    }
}

@media screen and (max-width: 1380px) {
    .img-cover-right {
        background-size: 300% !important;
    }
    
    .img-cover-right:hover {
        background-size: 310% !important;
    }
}

@media screen and (max-width: 1340px) {
    .img-cover-right {
        background-size: 310% !important;
    }
    
    .img-cover-right:hover {
        background-size: 320% !important;
    }
}

@media screen and (max-width: 1300px) {
    .img-cover-right {
        background-size: 320% !important;
    }
    
    .img-cover-right:hover {
        background-size: 330% !important;
    }

    .img-cover-left {
        background-size: 150% !important;
    }

    .img-cover-left:hover {
        background-size: 160% !important;
    }
}

@media screen and (max-width: 1260px) {
    .img-cover-right {
        background-size: 330% !important;
    }
    
    .img-cover-right:hover {
        background-size: 340% !important;
    }
}

@media screen and (max-width: 1230px) {
    .img-cover-right {
        background-size: 340% !important;
    }
    
    .img-cover-right:hover {
        background-size: 350% !important;
    }

}

@media screen and (max-width: 1200px) {
    .img-cover-right {
        background-size: 360% !important;
    }
    
    .img-cover-right:hover {
        background-size: 370% !important;
    }

}

@media screen and (max-width: 1200px) {
    .img-cover-right {
        background-size: 360% !important;
    }
    
    .img-cover-right:hover {
        background-size: 370% !important;
    }

    .img-cover-left {
        background-size: 170% !important;
    }

    .img-cover-left:hover {
        background-size: 180% !important;
    }
}

@media screen and (max-width: 1130px) {
    .img-cover-right {
        background-size: 380% !important;
    }
    
    .img-cover-right:hover {
        background-size: 390% !important;
    }

    .img-cover-bottom {
        background-size: 200% !important;
    }
    
    .img-cover-bottom:hover {
        background-size: 210% !important;
    }
}

@media screen and (max-width: 1080px) {
    .img-cover-right {
        background-size: 400% !important;
    }
    
    .img-cover-right:hover {
        background-size: 410% !important;
    }
}

@media screen and (max-width: 1055px) {

    .text-about {
        font-size: 22px;
    }
}

@media screen and (max-width: 1040px) {
    .img-cover-right {
        background-size: 410% !important;
    }
    
    .img-cover-right:hover {
        background-size: 420% !important;
    }

    .img-cover-left {
        background-size: 170% !important;
    }

    .img-cover-left:hover {
        background-size: 180% !important;
    }

    .heading-about {
        font-size: 80px;
    }
}

@media screen and (max-width: 991px) {
    .heading-1 {
        font-size: 80px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .text-about {
        font-size: 22px;
    }

    .heading-2 {
        text-align: left;
        padding-top: 6px !important;
    }

    .btn-figma {
        text-align: left;
    }

    .img-cover-right {
        background-size: 280% !important;
    }
    
    .img-cover-right:hover {
        background-size: 290% !important;
    }

    .img-cover-left {
        background-size: 100% !important;
    }

    .img-cover-left:hover {
        background-size: 110% !important;
    }

    .card-about {
        height: 160px;
    }
}

@media screen and (max-width: 880px) {
    .img-cover-left {
        background-size: 120% !important;
    }

    .img-cover-left:hover {
        background-size: 130% !important;
    }
}

@media screen and (max-width: 767px) {
    .heading-1 {
        font-size: 70px;
    }

    .img-cover-right {
        background-size: 130% !important;
        height: 400px !important;
    }
    
    .img-cover-right:hover {
        background-size: 140% !important;
    }

    .img-cover-left {
        background-size: 150% !important;
    }

    .img-cover-left:hover {
        background-size: 160% !important;
    }

        .img-cover-bottom {
        background-size: 180% !important;
    }
    
    .img-cover-bottom:hover {
        background-size: 190% !important;
    }

    .img-cover-bottom {
        background-size: 120% !important;
    }
    
    .img-cover-bottom:hover {
        background-size: 130% !important;
    }
    
    .text-img {
        display: none !important;
    }

    .img {
        padding: 30px 30px !important;
    }

    .text-img-mobile {

    }
}

@media screen and (max-width: 630px) {
    .img-cover-left {
        background-size: 170% !important;
    }

    .img-cover-left:hover {
        background-size: 180% !important;
    }
    
    .img-cover-bottom {
        background-size: 140% !important;
    }
    
    .img-cover-bottom:hover {
        background-size: 150% !important;
    }
}

@media screen and (max-width: 556px) {
    .heading-1 {
        font-size: 50px;
        margin-bottom: 7px;
    }

    .img {
        position: relative;
        height: 400px;
    }

    .img-cover-right {
        background-size: 150% !important;
    }
    
    .img-cover-right:hover {
        background-size: 160% !important;
    }

    .img-cover-left {
        background-size: 180% !important;
    }

    .img-cover-left:hover {
        background-size: 190% !important;
    }

    .img-cover-bottom {
        background-size: 170% !important;
    }
    
    .img-cover-bottom:hover {
        background-size: 180% !important;
    }
}

@media screen and (max-width: 490px) {
    .img-cover-right {
        background-size: 170% !important;
    }
    
    .img-cover-right:hover {
        background-size: 180% !important;
    }

    .img-cover-left {
        background-size: 220% !important;
    }

    .img-cover-left:hover {
        background-size: 230% !important;
    }

    .heading-about {
        font-size: 50px;
        margin-bottom: 10px;
        font-weight: 300;
    }

    .card-about {
        height: 140px;
    }
}

@media screen and (max-width: 440px) {
    .img-cover-right {
        background-size: 190% !important;
    }
    
    .img-cover-right:hover {
        background-size: 200% !important;
    }

    .img-cover-left {
        background-size: 240% !important;
    }

    .img-cover-left:hover {
        background-size: 250% !important;
    }

    .img-cover-bottom {
        background-size: 200% !important;
    }
    
    .img-cover-bottom:hover {
        background-size: 210% !important;
    }
}

@media screen and (max-width: 410px) {
    .heading-1 {
        font-size: 40px;
    }

    .img-cover-right {
        background-size: 210% !important;
    }
    
    .img-cover-right:hover {
        background-size: 220% !important;
    }

    .img-cover-left {
        background-size: 260% !important;
    }

    .img-cover-left:hover {
        background-size: 270% !important;
    }
}